@font-face {
    font-family: iranSansNormal;
    src: url('./0Font/IRANSansWeb/IRANSansWeb\(FaNum\).ttf');
}
@font-face {
    font-family: iranSansBlack;
    src: url('./0Font/IRANSansWeb/IRANSansWeb\(FaNum\)_Black.ttf');
}
@font-face {
    font-family: iranSansBold;
    src: url('./0Font/IRANSansWeb/IRANSansWeb\(FaNum\)_Bold.ttf');
}
@font-face {
    font-family: iranSansLight;
    src: url('./0Font/IRANSansWeb/IRANSansWeb\(FaNum\)_Light.ttf');
}
@font-face {
    font-family: iranSansMedium;
    src: url('./0Font/IRANSansWeb/IRANSansWeb\(FaNum\)_Medium.ttf');
}
@font-face {
    font-family: iranSansUltraLight;
    src: url('./0Font/IRANSansWeb/IRANSansWeb\(FaNum\)_UltraLight.ttf');
}
