@font-face {
    font-family: iranSansnormal;
    src: url('./0Font/IRANSansWeb/IRANSansWeb\(FaNum\).ttf');
}
@font-face {
    font-family: iranSansblack;
    src: url('./0Font/IRANSansWeb/IRANSansWeb\(FaNum\)_Black.ttf');
}
@font-face {
    font-family: iranSansbold;
    src: url('./0Font/IRANSansWeb/IRANSansWeb\(FaNum\)_Bold.ttf');
}
@font-face {
    font-family: iranSanslight;
    src: url('./0Font/IRANSansWeb/IRANSansWeb\(FaNum\)_Light.ttf');
}
@font-face {
    font-family: iranSansmedium;
    src: url('./0Font/IRANSansWeb/IRANSansWeb\(FaNum\)_Medium.ttf');
}
@font-face {
    font-family: iranSansUltraLight;
    src: url('./0Font/IRANSansWeb/IRANSansWeb\(FaNum\)_UltraLight.ttf');
}
