$coolOrange: #FEC715;
$orangeButtonText: rgb(74, 74, 228);

$SHADOW: 3px 3px 5px rgba(16 ,16, 16, .75);
$SHADOW-LIGHT: 3px 3px 5px rgba(16, 16, 16, 0.301);
/*------------------HEADER-----------------*/
$sideMenuLength: 230px;
$headerWhiteText: rgb(247, 247, 247);

$themeBlue: #1d71b9;
$themeBlueLight: #149bd9;
$themeBlueDark: #0d72a1;

$themePurple: #d50c52;

/*-------------FOOOTER-------------------*/
$footerBackground: #444444;
$footerOrangeLine: #FF7A18;
$footerWhiteText: #FFFFED;
$footerWhiteLine:#FFFFED;
$footerEmailInputBackground: #DEDEDE;
$footerEmailInputColor:#757575;

$EnamadShadow: 4px 4px 5px #3A3937;
$Enamad-border:#333333;

$fontScale: 2.1;

@function letterSpace($unit) {
    $result: $unit / 25;
    @return $result;
}
/*-----------------------------------------*/