/* Extra extra large devices (TV, 1300px till 1201 and down) */
@media screen and (max-width: 1300px) {
  .footer {
    .rightTop {
      .layer {
        .text {
          font-size: 10pt;
        }
      }
    }
    .rightBottom {
      .eNamad {
        // width: 100px;
        border: 12px solid #333333;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px till 993 and down) */
@media only screen and (max-width: 1200px) {
  .header {
    .topBar {
      padding-right: 170px;
    }
    .headerContainer {
      grid-template-areas:
        "logo header calendar"
        "title header calendar"
        "spaceRightSide navBar navBar"
        "sideMenu content content";
      grid-template-columns: 170px auto auto;
      .header {
        padding: 0;
        justify-content: center;
        .rest {
          flex-direction: column;
          gap: 20px;
        }
      }
      .space {
        display: none;
      }
      .spaceRightSide {
        span {
          width: 80%;
        }
      }
      .calendar {
        .FatLIne {
          transform: scale(1.5);
        }
      }
      nav.navBar {
        ul.mainNav {
          ul.CourseNav {
            width: 290px;
          }
        }
      }
    }
  }
  .outlet {
    .mainPageSection {
      .courseSwiper {
        width: 635px;
      }
    }
  }
  .footer {
    .rightTop {
      .layer {
        .text {
          margin: 0;
        }
      }
      .inputwrapper {
        .icon {
          top: 3.15px;
        }
        .emailInput {
          width: 205px;
          padding: 7px 16px;
        }
      }
    }
    .rightBottom {
      .eNamad {
        width: 110px;
        position: relative;
        left: 20px;
      }
    }
    .centerBottom {
      .wholeNav {
        .nav1 {
          gap: 12px;
          justify-content: space-between;
          > .item {
          }
        }
      }
    }
    .leftBottom {
      justify-content: center;
    }
    .rightBottom {
      justify-content: center;
    }
  }
}

/* Large devices (laptops/desktops, 992px till 767 and down) */
@media only screen and (max-width: 992px) {
  .header {
    .topBar {
      padding-right: 25px;
      .center {
        width: 23%;
      }
    }
    .headerContainer {
      grid-template-areas:
        "logo header calendar"
        "title header calendar"
        "navBar navBar navBar"
        "sideMenu content content";
      .header {
        .signupButtonLayer {
          display: none;
        }
      }
      .spaceRightSide {
        display: none;
      }
      nav.navBar {
        margin-bottom: 10px;
        ul.mainNav {
          justify-content: center;
        }
      }
    }
  }
  .outlet {
    .mainPageSection {
      .flex {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
      }
    }
  }
  .footer {
    $scale: 3;
    .rightTop {
      .layer {
        .text {
          font-size: 22pt / $scale;
        }
      }
    }

    .rightTop {
      .inputwrapper {
        .emailInput {
          font-size: 20pt / $scale;
        }
      }
    }

    .rightTop {
      .inputwrapper {
        .icon {
          font-size: 18pt / $scale;
        }
      }
    }

    .centerTop {
      .layer1 {
        p.title {
          font-size: 25pt / $scale;
        }
        p.address {
          font-size: 20pt / $scale;
        }
        p.site {
          font-size: 25pt / $scale;
        }
        p.num {
          font-size: 20pt / $scale;
        }
      }
    }

    .leftTop {
      .counsel {
        .number {
          font-size: 25pt / $scale;
        }
      }
    }

    .leftTop {
      .counsel {
        .info {
          font-size: 20pt / $scale;
        }
      }
    }

    .centerCenter {
      .layer2 {
        .item {
          > span {
            font-size: 18pt / $scale;
          }
        }
      }
    }

    .centerBottom {
      .wholeNav {
        .nav1 {
          .item {
            font-size: 18pt / $scale;
          }
        }
      }
    }

    .centerBottom {
      .wholeNav {
        .nav2 {
          .item {
            font-size: 24pt / $scale;
          }
        }
      }
    }

    .leftBottom {
      .telegraph {
        font-size: 25pt / $scale;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px till 599 and down) */
@media only screen and (max-width: 768px) {
  .header {
    .topBar {
      padding: 5px 10px;
      .right {
        gap: 0px;
      }
      .center {
        gap: 0px;
        justify-content: space-evenly;
      }
    }
    .headerContainer {
      grid-template-columns: auto auto;
      grid-template-areas:
        " header calendar"
        " header calendar"
        " navBar navBar"
        " content content";
      .logo {
        display: none;
      }
      .title {
        display: none;
      }
      .sideMenu {
        display: none;
      }
      nav.navBar {
        ul.mainNav {
          padding: 0;
          gap: 12px;
          .item > a {
            font-size: 12px;
          }
          .item .CourseNav {
            width: 220px;
            .InnerNav {
              width: 300px;
            }
          }
        }
      }
    }
  }
  .atnaHost {
    &::before,
    &::after {
      width: 80px;
    }
    font-size: 29px;
  }
  .outlet {
    .mainPageSection {
      .courseSwiper {
        display: none;
      }
    }
  }
  .footer {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px till 481 and down) */
@media only screen and (max-width: 600px) {
  .header {
    .topBar {
      .right {
        .wrap.email {
          display: none;
        }
      }
    }
    .headerContainer {
      .header {
        .rest {
          .layer2 {
            a.item span {
              font-size: 11px;
            }
          }
        }
      }
      .calendar {
        .FatLIne {
          margin: 34px 25px;
        }
      }
      nav.navBar {
        ul.mainNav .item {
          ul.CourseNav {
            width: 200px;
            ul.InnerNav {
              width: 275px;
            }
          }
        }
        ul.mainNav {
          gap: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  .atnaHost {
    font-size: 24px;
    &::after,
    &::before {
      width: 48px;
    }
  }
}

/* Extra small devices (phones, 480px till 320 and down) */
@media screen and (max-width: 480px) {
  .header {
    .topBar {
      height: 40px;
      .left,
      .right,
      .center {
        display: none;
      }
      span.menu {
        display: block;
        font-size: 25px;
        position: relative;
        top: 3px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .headerContainer {
      > *,
      .calendar {
        display: none;
      }
      .logo {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        a.logo {
          max-width: 81px;
          max-height: 80px;
          background-position: 70px 70px;
          background-size: 346%;
          background-color: white;
          border-radius: 50%;
          border: 5px solid white;
        }
      }
    }
  }
  .outlet {
    display: none;
  }
}

/*-----Footer mobile
  .footer {
    display: block;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    $fontScaleMobile: 2.5;

    .rightTop {
      display: none;
    }
    .centerTop {
      .layer1 {
        p.title {
          font-size: 25pt / $fontScaleMobile;
        }
        p.address {
          font-size: 20pt / $fontScaleMobile;
        }
        p.site {
          font-size: 25pt / $fontScaleMobile;
        }
        p.num {
          font-size: 20pt / $fontScaleMobile;
        }
      }
    }
    .leftTop {
      display: none;
    }
    .rightCenter {
      display: none;
    }
    .leftCenter {
      display: none;
    }
    .centerCenter {
      .layer2 {
        gap: 19px;
        .item {
          > span {
            font-size: 18pt / $fontScaleMobile;
          }
        }
      }
    }
    .rightBottom {
      .eNamad {
        width: 100px;
        margin: 15px 0;
      }
    }
    .centerBottom {
      .wholeNav {
        width: 100%;
        .nav1 {
          display: none;
        }
        .line {
          margin: 15px auto;
        }
        .nav2 {
          gap: 21px;
          .item {
            font-size: 18pt / $fontScaleMobile;
          }
        }
      }
      .layer3 {
        margin-bottom: 0;
        margin-top: 20px;
        gap: 7px;
        .footerImage {
          transform: scale(0.9);
        }
      }
    }
    .leftBottom {
      display: none;
    }
  }
----------------*/

/*-------------------FONT SCALE----------------------
.rightTop {
  .layer {
    .text {
      font-size: 22pt / $scale;
    }
  }
}

.rightTop {
  .inputwrapper {
    .emailInput {
      font-size: 20pt / $scale;
    }
  }
}

.rightTop {
  .inputwrapper {
    .icon {
      font-size: 18pt / $scale;
    }
  }
}

.centerTop {
  .layer1 {
    p.title {
      font-size: 25pt / $scale;
    }
    p.address {
      font-size: 20pt / $scale;
    }
    p.site {
      font-size: 25pt / $scale;
    }
    p.num {
      font-size: 20pt / $scale;
    }
  }
}

.leftTop {
  .counsel {
    .number {
      font-size: 25pt / $scale;
    }
  }
}

.leftTop {
  .counsel {
    .info {
      font-size: 20pt / $scale;
    }
  }
}

.centerCenter {
  .layer2 {
    .item {
      > span {
        font-size: 18pt / $scale;
      }
    }
  }
}

.centerBottom {
  .wholeNav {
    .nav1 {
      .item {
        font-size: 18pt / $scale;
      }
    }
  }
}

.centerBottom {
  .wholeNav {
    .nav2 {
      .item {
        font-size: 24pt / $scale;
      }
    }
  }
}

.leftBottom {
  .telegraph {
    font-size: 25pt / $scale;
  }
}
-------------------FONT SCALE----------------------*/
