@import "./Variables";
/* Extra extra large devices (TV, 1300px till 1201 and down) */
@media screen and (max-width: 1300px) {
  .footer {
    .rightTop {
      .layer {
        .text {
          font-size: 10pt;
        }
      }
    }
    .rightBottom {
      .eNamad {
        // width: 100px;
        border: 12px solid #333333;
      }
    }
  }
  .outlet {
    .mainPageSection {
      .courseSwiper {
        width: 960px;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px till 993 and down) */
@media only screen and (max-width: 1200px) {
  .header {
    .topBar {
      padding-right: 170px;
    }
    .headerContainer {
      grid-template-areas:
        "logo header calendar"
        "title header calendar"
        "spaceRightSide navBar navBar"
        "sideMenu content content";
      grid-template-columns: 170px auto auto;
      .header {
        padding: 0;
        justify-content: center;
        .rest {
          flex-direction: column;
          gap: 20px;
        }
      }
      .space {
        display: none;
      }
      .spaceRightSide {
        span {
          width: 80%;
        }
      }
      .calendar {
        .FatLIne {
          transform: scale(1.5);
        }
      }
      nav.navBar {
        ul.mainNav {
          ul.CourseNav {
            width: 290px;
          }
        }
      }
    }
  }
  .outlet {
    .mainPageSection {
      .courseSwiper {
        width: 635px;
      }
    }
  }
  .footer {
    .rightTop {
      .layer {
        .text {
          margin: 0;
        }
      }
      .inputwrapper {
        .icon {
          top: 3.15px;
        }
        .emailInput {
          width: 205px;
          padding: 7px 16px;
        }
      }
    }
    .rightBottom {
      .eNamad {
        width: 110px;
        position: relative;
        left: 20px;
      }
    }
    .centerBottom {
      .wholeNav {
        .nav1 {
          gap: 12px;
          justify-content: space-between;
          > .item {
          }
        }
      }
    }
    .leftBottom {
      justify-content: center;
    }
    .rightBottom {
      justify-content: center;
    }
  }
}

/* Large devices (laptops/desktops, 992px till 769 and down) */
@media only screen and (max-width: 992px) {
  .header {
    .topBar {
      padding-right: 25px;
      .center {
        width: 23%;
      }
    }
    .headerContainer {
      grid-template-areas:
        "logo header calendar"
        "title header calendar"
        "navBar navBar navBar"
        "sideMenu content content";
      .header {
        gap: 0;
        .rest .layer2 .item.four {
          display: none;
        }
      }
      .spaceRightSide {
        display: none;
      }
      nav.navBar {
        margin-bottom: 10px;
        ul.mainNav {
          justify-content: center;
        }
      }
    }
  }
  .outlet {
    .mainPageSection {
      .flex {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
      }
    }
  }
  .footer {
    .leftBottom {
      .telegraph {
        font-size: 15px;
      }
    }
    .rightTop {
      .layer {
        position: relative;
        .img {
          position: absolute;
          top: -60px;
        }
      }
      .inputwrapper {
        .emailInput {
          width: 170px;
        }
      }
    }
    .centerBottom {
      .wholeNav .nav1 .item {
        line-height: 21px;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px till 601 and down) */
@media only screen and (max-width: 768px) {
  .header {
    .topBar {
      padding: 5px 10px;
      .right {
        gap: 0px;
      }
      .center {
        gap: 0px;
        justify-content: space-evenly;
      }
    }
    .headerContainer {
      grid-template-columns: auto auto;
      grid-template-areas:
        " header calendar"
        " header calendar"
        " navBar navBar"
        " content content";
      .logo {
        display: none;
      }
      .title {
        display: none;
      }
      .sideMenu {
        display: none;
      }
      nav.navBar {
        ul.mainNav {
          padding: 0;
          gap: 12px;
          .item > a {
            font-size: 12px;
          }
          .item .CourseNav {
            width: 220px;
            .InnerNav {
              width: 300px;
            }
          }
        }
      }
    }
  }
  .atnaHost {
    &::before,
    &::after {
      width: 80px;
    }
    font-size: 29px;
  }
  .outlet {
    .mainPageSection {
      .courseSwiper {
        width: 307px;
      }
    }
  }
  .footer {
    height: auto;
    grid-template-columns: 25% 25% 25% 25%;

    .centerTop {
      grid-column: 1 / 5;
      grid-row: 1/2;
    }
    .centerCenter {
      grid-column: 1/5;
      grid-row: 2/3;
    }
    .centerBottom {
      grid-column: 1/5;
      grid-row: 3/4;
      margin: 35px 0;

      .wholeNav {
        width: 100%;
        .nav1 {
          margin: auto;
          height: auto;
        }
        .line {
          margin-top: 17px;
          margin-bottom: 13px;
        }
      }
    }
    .rightTop {
      grid-column: 1 / 3;
      grid-row: 4/5;
      .layer .img {
        position: static;
      }
    }
    .leftTop {
      grid-column: 3 / 5;
      grid-row: 4/5;
    }
    .rightCenter {
      grid-column: 1 / 3;
      grid-row: 5/6;
    }
    .leftCenter {
      grid-column: 3 / 5;
      grid-row: 5/6;
    }
    .rightBottom {
      grid-column: 1/5;
      grid-row: 6/7;
      margin-top: 45px;
      .eNamad {
        width: 110px;
        border-width: 5px;
      }
    }
    .leftBottom {
      display: none;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px till 481 and down) */
@media only screen and (max-width: 600px) {
  .header {
    .topBar {
      .right {
        .wrap.email {
          display: none;
        }
      }
      span.menu {
        display: block;
        font-size: 25px;
        position: relative;
        top: 3px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .headerContainer {
      .header {
        .rest {
          .layer2 {
            a.item span {
              font-size: 11px;
            }
          }
        }
        .signupButtonLayer {
          display: none;
        }
      }
      .calendar {
        .FatLIne {
          margin: 34px 25px;
        }
      }
      nav.navBar {
        // ul.mainNav .item {
        //   ul.CourseNav {
        //     width: 200px;
        //     ul.InnerNav {
        //       width: 275px;
        //     }
        //   }
        // }
        // ul.mainNav {
        //   gap: 10px;
        //   padding-left: 10px;
        //   padding-right: 10px;
        // }
        display: none;
      }
      .slider {
        margin-top: 20px;
      }
    }
  }
  .atnaHost {
    font-size: 24px;
    &::after,
    &::before {
      width: 48px;
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px 7px;

    $footerOrder: centerTop, centerCenter, rightTop, rightCenter, leftTop,
      leftCenter, rightBottom;
    @for $i from 1 through length($footerOrder) {
      $item: nth($footerOrder, $i);
      .#{$item} {
        order: $i;
      }
    }

    > * {
      margin-bottom: 40px;
    }
    .leftTop,
    .rightTop,
    .centerTop,
    .rightBottom {
      margin-bottom: 0;
    }

    .leftBottom {
      display: none;
    }
    .centerBottom {
      display: none;
    }
    .rightTop {
      .layer {
        align-self: auto;
      }
    }
    .centerCenter {
      .layer2 {
        gap: 20px;
      }
      .hr {
        width: 100%;
      }
    }
    .rightBottom {
      .eNamad {
        position: static;
      }
    }
  }
}

/* Extra small devices (phones, 480px till 320 and down) */
@media screen and (max-width: 480px) {
  .header {
    padding: 0;
    background-color: white;
    .topBar {
      height: 40px;
      .left,
      .right,
      .center {
        display: none;
      }
    }
    .headerContainer {
      margin-top: 45px;
      border-top: 10px solid $greyDark-background;
      display: block;
      .logo {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        a.logo {
          max-width: 81px;
          max-height: 80px;
          background-position: 70px 70px;
          background-size: 346%;
          background-color: white;
          border-radius: 50%;
          border: 5px solid white;
        }
      }
      .header {
        margin-top: 20px;
        float: right;
        .signupButtonLayer {
          display: block;
          margin: 45px 0;
          margin-right: 10px;
        }
        .rest {
          display: none;
        }
      }
      .calendar {
        float: left;
        width: 150px;
        height: 150px;
        background: url(./images/img/Header-Footer.png);
        height: 94.5px;
        width: 94.5px;
        margin: auto;
        background-position: -527px -31px;
        background-size: 381%;
        margin: 25px;
        transform: scale(1.3);
        margin-bottom: 65px;

        &::before {
          content: "تقویم آموزشی";
          position: absolute;
          bottom: -22px;
          color: #0d72a1;
          font-size: 11px;
          font-weight: bold;
        }
        .FatLIne {
          display: none;
        }
      }
      .slider {
        width: 100%;
        box-shadow: none;
        margin: 0 10px;
        #slider {
          .dots > * {
            @include square(10px);
          }
          #sliderNext, #sliderPre {
          padding: 10px 7px;

          }
        }
      }
    }
  }
  .atnaHost {
    font-size: 17px;
    border-radius: 15px;
    margin: 40px 8px;
    padding: 0 5px;
    > span {
      padding: 0;
      font-size: 15px;
    }
    &::before,
    &::after {
      width: 32px;
      margin: 2px;
    }
  }
  #resItemBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    padding: 0 20px;
    > a {
      padding: 5px;
      border: 2px solid #f9c21f;
      width: 30%;
      color: #ec0e00;
      border-radius: 12px;
      height: 70px;
      text-align: center;
      line-height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: iranSansBlack;
    }
  }
  .outlet {
    padding: 40px 0;
    .mainPageSection {
      .title {
        .pic {
          position: relative;
          right: 30px;
        }
      }
      .flex {
        .boxWrapper {
          background: none;
          box-shadow: none;
          width: 100%;
          .box {
            padding: 0;
            background: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            .coloredWrapper {
              position: static;
              order: 1;
            }
            .text {
              position: static;
              order: 2;
              font-size: 24px;
              padding-top: 10px;
            }
            .hover {
              opacity: 100%;
              order: 3;
              font-size: 15px;
              font-family: iranSansNormal;
              padding: 30px 15px;
              position: static;
              width: 100%;
              padding: 30px 10px;
              color: #898989;
              line-height: 27px;
              font-size: 18px;
              transform: scale(1);
             }
            .image {
              order: 2;
              min-height: 60px;
              margin-top: 25px;
              opacity: 100% !important;
            }
          }
        }
      }
    }
  }
}

/*-----Footer mobile
  .footer {
    display: block;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    $fontScaleMobile: 2.5;

    .rightTop {
      display: none;
    }
    .centerTop {
      .layer1 {
        p.title {
          font-size: 25pt / $fontScaleMobile;
        }
        p.address {
          font-size: 20pt / $fontScaleMobile;
        }
        p.site {
          font-size: 25pt / $fontScaleMobile;
        }
        p.num {
          font-size: 20pt / $fontScaleMobile;
        }
      }
    }
    .leftTop {
      display: none;
    }
    .rightCenter {
      display: none;
    }
    .leftCenter {
      display: none;
    }
    .centerCenter {
      .layer2 {
        gap: 19px;
        .item {
          > span {
            font-size: 18pt / $fontScaleMobile;
          }
        }
      }
    }
    .rightBottom {
      .eNamad {
        width: 100px;
        margin: 15px 0;
      }
    }
    .centerBottom {
      .wholeNav {
        width: 100%;
        .nav1 {
          display: none;
        }
        .line {
          margin: 15px auto;
        }
        .nav2 {
          gap: 21px;
          .item {
            font-size: 18pt / $fontScaleMobile;
          }
        }
      }
      .layer3 {
        margin-bottom: 0;
        margin-top: 20px;
        gap: 7px;
        .footerImage {
          transform: scale(0.9);
        }
      }
    }
    .leftBottom {
      display: none;
    }
  }
----------------*/

/*-------------------FONT SCALE----------------------
.rightTop {
  .layer {
    .text {
      font-size: 22pt / $scale;
    }
  }
}

.rightTop {
  .inputwrapper {
    .emailInput {
      font-size: 20pt / $scale;
    }
  }
}

.rightTop {
  .inputwrapper {
    .icon {
      font-size: 18pt / $scale;
    }
  }
}

.centerTop {
  .layer1 {
    p.title {
      font-size: 25pt / $scale;
    }
    p.address {
      font-size: 20pt / $scale;
    }
    p.site {
      font-size: 25pt / $scale;
    }
    p.num {
      font-size: 20pt / $scale;
    }
  }
}

.leftTop {
  .counsel {
    .number {
      font-size: 25pt / $scale;
    }
  }
}

.leftTop {
  .counsel {
    .info {
      font-size: 20pt / $scale;
    }
  }
}

.centerCenter {
  .layer2 {
    .item {
      > span {
        font-size: 18pt / $scale;
      }
    }
  }
}

.centerBottom {
  .wholeNav {
    .nav1 {
      .item {
        font-size: 18pt / $scale;
      }
    }
  }
}

.centerBottom {
  .wholeNav {
    .nav2 {
      .item {
        font-size: 24pt / $scale;
      }
    }
  }
}

.leftBottom {
  .telegraph {
    font-size: 25pt / $scale;
  }
}
-------------------FONT SCALE----------------------*/
