/*------------------HEADER-----------------*/
/*------------------HEADER-----------------*/
/*-------------ATNA HOST-----------------*/
/*-------------ATNA HOST-----------------*/
/*--------------OUTLET----------------------*/
/*--------------OUTLET----------------------*/
/*-------------FOOOTER-------------------*/
/*---------------MIXINS & FUNCTIONS--------------------------*/
/* Extra extra large devices (TV, 1300px till 1201 and down) */
@media screen and (max-width: 1300px) {
  .footer .rightTop .layer .text {
    font-size: 10pt;
  }
  .footer .rightBottom .eNamad {
    border: 12px solid #333333;
  }
}

/* Extra large devices (large laptops and desktops, 1200px till 993 and down) */
@media only screen and (max-width: 1200px) {
  .header .topBar {
    padding-right: 170px;
  }
  .header .headerContainer {
        grid-template-areas: "logo header calendar" "title header calendar" "spaceRightSide navBar navBar" "sideMenu content content";
    -ms-grid-columns: 170px auto auto;
        grid-template-columns: 170px auto auto;
  }
  .header .headerContainer .header {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .headerContainer .header .rest {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .header .headerContainer .space {
    display: none;
  }
  .header .headerContainer .spaceRightSide span {
    width: 80%;
  }
  .header .headerContainer .calendar .FatLIne {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .header .headerContainer nav.navBar ul.mainNav ul.CourseNav {
    width: 290px;
  }
  .outlet .mainPageSection .courseSwiper {
    width: 635px;
  }
  .footer .rightTop .layer .text {
    margin: 0;
  }
  .footer .rightTop .inputwrapper .icon {
    top: 3.15px;
  }
  .footer .rightTop .inputwrapper .emailInput {
    width: 205px;
    padding: 7px 16px;
  }
  .footer .rightBottom .eNamad {
    width: 110px;
    position: relative;
    left: 20px;
  }
  .footer .centerBottom .wholeNav .nav1 {
    gap: 12px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .leftBottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .rightBottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* Large devices (laptops/desktops, 992px till 767 and down) */
@media only screen and (max-width: 992px) {
  .header .topBar {
    padding-right: 25px;
  }
  .header .topBar .center {
    width: 23%;
  }
  .header .headerContainer {
        grid-template-areas: "logo header calendar" "title header calendar" "navBar navBar navBar" "sideMenu content content";
  }
  .header .headerContainer .header .signupButtonLayer {
    display: none;
  }
  .header .headerContainer .spaceRightSide {
    display: none;
  }
  .header .headerContainer nav.navBar {
    margin-bottom: 10px;
  }
  .header .headerContainer nav.navBar ul.mainNav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .outlet .mainPageSection .flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 60px;
  }
  .footer .rightTop .layer .text {
    font-size: 7.33333pt;
  }
  .footer .rightTop .inputwrapper .emailInput {
    font-size: 6.66667pt;
  }
  .footer .rightTop .inputwrapper .icon {
    font-size: 6pt;
  }
  .footer .centerTop .layer1 p.title {
    font-size: 8.33333pt;
  }
  .footer .centerTop .layer1 p.address {
    font-size: 6.66667pt;
  }
  .footer .centerTop .layer1 p.site {
    font-size: 8.33333pt;
  }
  .footer .centerTop .layer1 p.num {
    font-size: 6.66667pt;
  }
  .footer .leftTop .counsel .number {
    font-size: 8.33333pt;
  }
  .footer .leftTop .counsel .info {
    font-size: 6.66667pt;
  }
  .footer .centerCenter .layer2 .item > span {
    font-size: 6pt;
  }
  .footer .centerBottom .wholeNav .nav1 .item {
    font-size: 6pt;
  }
  .footer .centerBottom .wholeNav .nav2 .item {
    font-size: 8pt;
  }
  .footer .leftBottom .telegraph {
    font-size: 8.33333pt;
  }
}

/* Medium devices (landscape tablets, 768px till 599 and down) */
@media only screen and (max-width: 768px) {
  .header .topBar {
    padding: 5px 10px;
  }
  .header .topBar .right {
    gap: 0px;
  }
  .header .topBar .center {
    gap: 0px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .header .headerContainer {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: " header calendar" " header calendar" " navBar navBar" " content content";
  }
  .header .headerContainer .logo {
    display: none;
  }
  .header .headerContainer .title {
    display: none;
  }
  .header .headerContainer .sideMenu {
    display: none;
  }
  .header .headerContainer nav.navBar ul.mainNav {
    padding: 0;
    gap: 12px;
  }
  .header .headerContainer nav.navBar ul.mainNav .item > a {
    font-size: 12px;
  }
  .header .headerContainer nav.navBar ul.mainNav .item .CourseNav {
    width: 220px;
  }
  .header .headerContainer nav.navBar ul.mainNav .item .CourseNav .InnerNav {
    width: 300px;
  }
  .atnaHost {
    font-size: 29px;
  }
  .atnaHost::before, .atnaHost::after {
    width: 80px;
  }
  .outlet .mainPageSection .courseSwiper {
    display: none;
  }
  .footer {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px till 481 and down) */
@media only screen and (max-width: 600px) {
  .header .topBar .right .wrap.email {
    display: none;
  }
  .header .headerContainer .header .rest .layer2 a.item span {
    font-size: 11px;
  }
  .header .headerContainer .calendar .FatLIne {
    margin: 34px 25px;
  }
  .header .headerContainer nav.navBar ul.mainNav .item ul.CourseNav {
    width: 200px;
  }
  .header .headerContainer nav.navBar ul.mainNav .item ul.CourseNav ul.InnerNav {
    width: 275px;
  }
  .header .headerContainer nav.navBar ul.mainNav {
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .atnaHost {
    font-size: 24px;
  }
  .atnaHost::after, .atnaHost::before {
    width: 48px;
  }
}

/* Extra small devices (phones, 480px till 320 and down) */
@media screen and (max-width: 480px) {
  .header {
    padding: 0;
    background-color: white;
  }
  .header .topBar {
    height: 40px;
  }
  .header .topBar .left,
  .header .topBar .right,
  .header .topBar .center {
    display: none;
  }
  .header .topBar span.menu {
    display: block;
    font-size: 25px;
    position: relative;
    top: 3px;
  }
  .header .topBar span.menu:hover {
    cursor: pointer;
  }
  .header .headerContainer {
    margin-top: 45px;
    border-top: 10px solid #ededed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .headerContainer > *,
  .header .headerContainer .calendar {
    display: none;
  }
  .header .headerContainer .logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .header .headerContainer .logo a.logo {
    max-width: 81px;
    max-height: 80px;
    background-position: 70px 70px;
    background-size: 346%;
    background-color: white;
    border-radius: 50%;
    border: 5px solid white;
  }
  .header .headerContainer .header {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
  }
  .header .headerContainer .header .signupButtonLayer {
    display: block;
  }
  .header .headerContainer .header .rest .layer2 .item:not(.four) {
    display: none;
  }
  .header .headerContainer .header .rest .inputWrapper {
    display: none;
  }
  .atnaHost {
    font-size: 17px;
    border-radius: 15px;
    margin: 40px 8px;
    padding: 0 5px;
  }
  .atnaHost > span {
    padding: 0;
  }
  .atnaHost::before, .atnaHost::after {
    width: 32px;
    margin: 2px;
  }
  .outlet {
    padding: 40px 0;
  }
  .outlet .mainPageSection .title .pic {
    position: relative;
    right: 30px;
  }
  .outlet .mainPageSection .flex .boxWrapper {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }
  .outlet .mainPageSection .flex .boxWrapper .box {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .outlet .mainPageSection .flex .boxWrapper .box .coloredWrapper {
    position: static;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .outlet .mainPageSection .flex .boxWrapper .box .text {
    position: static;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .outlet .mainPageSection .flex .boxWrapper .box .hover {
    display: block;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 15px;
    font-family: iranSansNormal;
    padding: 30px 15px;
  }
}

/*-----Footer mobile
  .footer {
    display: block;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    $fontScaleMobile: 2.5;

    .rightTop {
      display: none;
    }
    .centerTop {
      .layer1 {
        p.title {
          font-size: 25pt / $fontScaleMobile;
        }
        p.address {
          font-size: 20pt / $fontScaleMobile;
        }
        p.site {
          font-size: 25pt / $fontScaleMobile;
        }
        p.num {
          font-size: 20pt / $fontScaleMobile;
        }
      }
    }
    .leftTop {
      display: none;
    }
    .rightCenter {
      display: none;
    }
    .leftCenter {
      display: none;
    }
    .centerCenter {
      .layer2 {
        gap: 19px;
        .item {
          > span {
            font-size: 18pt / $fontScaleMobile;
          }
        }
      }
    }
    .rightBottom {
      .eNamad {
        width: 100px;
        margin: 15px 0;
      }
    }
    .centerBottom {
      .wholeNav {
        width: 100%;
        .nav1 {
          display: none;
        }
        .line {
          margin: 15px auto;
        }
        .nav2 {
          gap: 21px;
          .item {
            font-size: 18pt / $fontScaleMobile;
          }
        }
      }
      .layer3 {
        margin-bottom: 0;
        margin-top: 20px;
        gap: 7px;
        .footerImage {
          transform: scale(0.9);
        }
      }
    }
    .leftBottom {
      display: none;
    }
  }
----------------*/
/*-------------------FONT SCALE----------------------
.rightTop {
  .layer {
    .text {
      font-size: 22pt / $scale;
    }
  }
}

.rightTop {
  .inputwrapper {
    .emailInput {
      font-size: 20pt / $scale;
    }
  }
}

.rightTop {
  .inputwrapper {
    .icon {
      font-size: 18pt / $scale;
    }
  }
}

.centerTop {
  .layer1 {
    p.title {
      font-size: 25pt / $scale;
    }
    p.address {
      font-size: 20pt / $scale;
    }
    p.site {
      font-size: 25pt / $scale;
    }
    p.num {
      font-size: 20pt / $scale;
    }
  }
}

.leftTop {
  .counsel {
    .number {
      font-size: 25pt / $scale;
    }
  }
}

.leftTop {
  .counsel {
    .info {
      font-size: 20pt / $scale;
    }
  }
}

.centerCenter {
  .layer2 {
    .item {
      > span {
        font-size: 18pt / $scale;
      }
    }
  }
}

.centerBottom {
  .wholeNav {
    .nav1 {
      .item {
        font-size: 18pt / $scale;
      }
    }
  }
}

.centerBottom {
  .wholeNav {
    .nav2 {
      .item {
        font-size: 24pt / $scale;
      }
    }
  }
}

.leftBottom {
  .telegraph {
    font-size: 25pt / $scale;
  }
}
-------------------FONT SCALE----------------------*/
/*# sourceMappingURL=Responsive.css.map */