/*-------------FOOOTER-------------------*/
.pillButton {
  color: #6d6dff;
  font-family: main;
  background-color: white;
  border-radius: 15px;
  border: none;
  -webkit-box-shadow: 0px 5px 7px #00000047;
          box-shadow: 0px 5px 7px #00000047;
  padding: 6px 0;
  width: 134px;
  font-weight: bold;
}

.signupLayer {
  position: relative;
}

.signupLayer .click {
  position: absolute;
  right: -28px;
  top: 1px;
  width: 70px;
}

.orangeButton {
  padding: 6px 0;
  border-radius: 24px;
  border: none;
  background-color: #ffd53b;
  font-family: "main";
  -webkit-box-shadow: 5px 5px 6px #00000069;
          box-shadow: 5px 5px 6px #00000069;
  width: 142px;
}

.orangeButton.bt {
  color: #4a4ae4;
  font-weight: bold;
}

.orangeButton.pr {
  padding-right: 16px;
}

.header .topBar {
  background-color: #2067ff;
  padding: 10px 15px;
  padding-right: 315px;
  color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .headerContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
      grid-template-columns: 300px auto;
}

.header .headerContainer > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .headerContainer .logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .headerContainer .sideMenu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
}

.header .headerContainer .sideMenu .sideTitle {
  font-size: 15px;
  font-weight: bold;
  color: pink;
}

.header .headerContainer .header .right {
  width: 80%;
}

.header .headerContainer .header .right .layer1 {
  padding: 50px 0;
}

.header .headerContainer .header .right .layer2 nav {
  background-color: #3b3bb9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
  border-radius: 5px;
  padding: 0 15px;
}

.header .headerContainer .header .right .layer2 nav .item {
  color: #f7f7f7;
  font-size: 13px;
}

.header .headerContainer .header .left {
  width: 20%;
  background-color: black;
}

.footer {
  display: -ms-grid;
  display: grid;
  height: 600px;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  -ms-grid-rows: 35% 30% 35%;
      grid-template-rows: 35% 30% 35%;
  background-color: #444444;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 98%;
  margin: auto;
  margin-top: 50px;
}

.footer > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer > :nth-child(1),
.footer > :nth-child(2),
.footer > :nth-child(3) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer > :nth-child(4),
.footer > :nth-child(5),
.footer > :nth-child(6) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer > :nth-child(7),
.footer > :nth-child(8),
.footer > :nth-child(9) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer > :nth-child(4),
.footer > :nth-child(6) {
  padding-top: 18px;
}

.footer .rightTop .layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .rightTop .layer .text {
  color: #bebebe;
  font-size: 14px;
}

.footer .rightTop .layer .img {
  width: 113px;
}

.footer .rightTop .inputwrapper {
  position: relative;
}

.footer .rightTop .inputwrapper .emailInput {
  border-radius: 21px;
  padding: 8px 16px;
  border: none;
  width: 233px;
  background-color: #e9e9e9;
  -webkit-box-shadow: 3px 3px 3px #0000006b;
          box-shadow: 3px 3px 3px #0000006b;
  font-family: main;
  font-size: 12px;
}

.footer .rightTop .inputwrapper .emailInput:focus {
  outline: none;
}

.footer .rightTop .inputwrapper .icon {
  font-size: 18px;
  position: absolute;
  left: 5px;
  top: 4px;
  color: #e9e9e9;
  background-color: #444444;
  padding: 5px;
  border-radius: 50%;
}

.footer .centerTop .layer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .centerTop .layer1 > p {
  margin: 5px 0;
  color: #bebebe;
}

.footer .leftTop {
  gap: 40px;
}

.footer .leftTop .counsel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .leftTop .counsel .number {
  color: white;
  position: absolute;
  top: 0;
  right: -16px;
}

.footer .leftTop .counsel .info {
  color: white;
}

.footer .centerCenter .hr {
  width: 75%;
  margin: 0;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#ff9c21), to(#444444));
  height: 5px;
}

.footer .centerCenter .layer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  margin-top: 45px;
}

.footer .centerCenter .layer2 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer .centerCenter .layer2 .item > img {
  width: auto;
}

.footer .centerCenter .layer2 .item > span {
  color: #bebebe;
  font-size: 12px;
}

.footer .rightBottom .EnamadWrapper {
  padding: 9px;
  background-color: #3f3f3f;
  border-radius: 18px;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}

.footer .rightBottom .EnamadWrapper .eNamad {
  width: 130px;
  background-color: white;
  border-radius: 12px;
  display: block;
}

.footer .centerBottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .centerBottom .wholeNav {
  width: 120%;
}

.footer .centerBottom .wholeNav .nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.footer .centerBottom .wholeNav .nav1 > .item {
  color: #bebebe;
  font-size: 12px;
}

.footer .centerBottom .wholeNav .line {
  width: 75%;
  display: block;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 15px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(white), to(#444444));
  height: 1px;
}

.footer .centerBottom .wholeNav .nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
}

.footer .centerBottom .wholeNav .nav2 .item {
  color: #ffd53b;
}

.footer .centerBottom .layer3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 20px;
  margin-bottom: 20px;
}

.footer .centerBottom .layer3 > img {
  width: 35px;
}

.footer .leftBottom .telegraph {
  color: white;
  border: 2px solid white;
  padding: 4px 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 10px #0000006b;
          box-shadow: 0 0 10px #0000006b;
}
/*# sourceMappingURL=style.css.map */