@import "./Variables";
@import "./Fonts";
body {
  font-family: iranSansnormal;
}
/*--------General--------------*/
.pillButton {
  color: $themeBlue;
  font-family: iranSansnormal;
  background-color: white;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 5px 7px #00000047;
  padding: 6px 0;
  width: 134px;
  font-weight: bold;
}

.signupButtonLayer {
  position: relative;
  padding-right: 26px;
  .click {
    position: absolute;
    right: -2px;
    top: 1px;
    width: 78px;
    height: 54px;
    background: url("./images/img/Header-Footer.png");
    background-position: -5px -9px;
    background-size: 678%;
  }
  .orangeButton {
    font-size: 15px;
    height: 33px;
    box-sizing: border-box !important;
    padding: 0;
    padding-right: 25px;
    &.alt {
      color: $themeBlue;
      font-weight: bold;
      box-shadow: none;
      &:hover {
        box-shadow: $SHADOW;
      }
    }
  }
}

.orangeButton {
  padding: 7px 0;
  border-radius: 24px;
  border: none;
  background-color: $coolOrange;
  font-family: iranSansnormal;
  box-shadow: $SHADOW;
  width: 133px;
  font-size: 18pt / $fontScale;
  font-weight: bold;
  transition: 0.2s;
}
.hollowButton {
  color: black;
  border: 2px solid black;
  border-radius: 24px;
  background-color: transparent;
  width: 133px;
  height: 26px;
  box-sizing: content-box;
  @include flex(c, c);
  font-family: iranSansMedium;
}
/*--------General--------------*/
#resMenu {
  height: 100%;
  width: 0;
  position: fixed;
  right: 0;
  background-color: white;
  overflow: hidden;
  color: red;
  transition: 0.4s;
  z-index: 5;
  @include flex(c, c);
  .fa-times {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    padding: 15px;
    &:hover {
      cursor: pointer;
    }
  }
  .content {
    .mainNav {
      @include flex(c, c, column);
      .item {
        a {
        }
        .collapsible::after {
          content: "\f107";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: relative;
          left: -4px;
          top: 2px;
        }
        .content {
          display: none;
        }
      }
    }
  }
}

.header {
  padding-bottom: 50px;
  background-color: $greyMain-background;
  .topBar {
    background-color: $themeBlue;
    padding: 5px 25px;
    padding-right: $sideMenuLength + 15px;
    color: $headerWhiteText;

    display: flex;
    justify-content: space-between;
    > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .menu {
      display: none;
    }
    .right {
      justify-content: flex-start;
      gap: 20px;
      .wrap {
        @include flex(c, c);
        gap: 10px;
        .phone {
          height: 25px;
          min-width: 25px;
          background: url("./images/img/Header-Footer.png");
          background-position: -261px -11px;
          background-size: 1875%;
        }
        .envelope {
          @include square(25px);
          background: url("./images/img/Header-Footer.png");
          background-position: -298px -11px;
          background-size: 1875%;
        }
        > span {
          font-size: 13px;
        }
      }
    }
    .center {
      gap: 15px;
      > * {
        font-size: 17px;
        color: white;
        padding: 5px;
      }
    }
    .left {
      color: white;
      font-weight: bold;
      .siteGearIcon {
        min-width: 49px;
        height: 29px;
        background: url("./images/img/Header-Footer.png");
        background-position: -69px -149px;
        background-size: 1057%;
      }
    }
  }
  .headerContainer {
    display: grid;
    grid-template-areas:
      "logo header calendar"
      "title navBar calendar"
      "spaceRightSide space calendar"
      "sideMenu content content";
    grid-template-columns: $sideMenuLength auto auto;
    padding-left: 5px;
    > * {
      display: flex;
      justify-content: flex-start;
    }
    .logo {
      grid-area: logo;
      justify-content: center;
      align-items: flex-end;
      .logo {
        background: url("./images/img/Header-Footer.png");
        width: 122px;
        height: 122px;
        background-position: 121px 124px;
        background-size: 355%;
      }
    }
    .sideMenu {
      grid-area: sideMenu;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0 35px;
      gap: 35px;
      padding-bottom: 25px;
      .rightSideImage {
        background: url("./images/img/Asset\ 27.svg") no-repeat;
        background-size: 100%;
        width: 288px;
        height: 205px;

        z-index: 0;
      }
      .buttons {
        @include flex(c, s, column);
        gap: 20px;
        padding: 1px 0;
        text-align: center;
        font-size: 14px;
        line-height: 22px;
      }
    }
    .header {
      grid-area: header;
      padding: 50px 0;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      .rest {
        @include flex(space-between, c);
        width: 100%;
        .layer2 {
          display: flex;
          flex-direction: row;
          gap: 30px;
          .item {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            &:hover span {
              text-shadow: $SHADOW;
            }
            &:hover .img {
              filter: drop-shadow($SHADOW);
            }
            > .img {
              width: 33px;
              height: 33px;
              background: url("./images/img/Header-Footer.png");
              background-size: 1380%;
              transition: 0.2s;
              &.one {
                background-position: -202px -4px;
              }
              &.one + span {
                color: $themePurple;
              }
              &.two {
                background-position: -214px 34.5px;
              }
              &.three {
                background-position: -182px 34px;
                width: 28px;
                background-size: 1624%;
              }
              &.four {
                width: 34px;
                background-position: -139.5px 34px;
                background-size: 1325%;
              }
            }
            > span {
              color: $themeBlue;
              font-weight: bold;
              font-size: 13px;
              transition: 0.2s;
            }
          }
        }
        .inputWrapper {
          position: relative;
          .mainSearch {
            font-size: 14px;
            border: 1px solid $themeBlue;
            box-shadow: $SHADOW-LIGHT;
            border-radius: 25px;
            padding: 5px 20px;
            text-indent: 20px;
            font-family: inherit;
            width: 270px;
            &:focus {
              outline: none;
            }
          }
          i {
            position: absolute;
            right: 12px;
            top: 13px;
            color: $themeBlue;
          }
        }
      }
    }
    .calendar {
      grid-area: calendar;
      $scale: -50px;
      display: flex;
      justify-content: center;
      align-items: center;
      .M-50 {
        margin: 50px;
      }
      .CircleBase {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #1d71b8;
        position: relative;
        transform: scale(2);
      }
      .FatLIne {
        background-image: linear-gradient(180deg, white 50%, transparent 50%),
          linear-gradient(-90deg, white 50%, transparent 50%);
      }
      .Circle-1 {
        width: 94px;
        height: 94px;
        background-color: transparent;
        border: 1px solid #1d71b8;
        border-radius: 50%;
        background-color: transparent;
        position: absolute;
        top: 2px + $scale;
        left: 2px + $scale;
      }
      .Circle-2 {
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: 6px + $scale;
        left: 6px + $scale;
      }
      .Circle-3 {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        top: 10px + $scale;
        left: 10px + $scale;
        background-color: whitesmoke;
        box-shadow: 5px 5px 20px rgba(200, 200, 200, 0.75);
        .calendar {
          background: url("./images/img/Header-Footer.png");
          height: 63px;
          width: 63px;
          margin: auto;
          background-position: -354px -21px;
          background-size: 382%;
        }
        .calendarText {
          color: $themeBlueDark;
          font-size: 7px;
          text-align: center;
          font-weight: bold;
          position: absolute;
          bottom: -2px;
          left: 19px;
        }
      }
    }
    .title {
      grid-area: title;
      display: flex;
      align-items: center;
      justify-content: center;
      > h2 {
        text-align: center;
        color: $themePurple;
        font-size: 18px;
        margin: 0;
        font-family: iranSansBlack;
      }
    }
    nav.navBar {
      width: 100%;
      grid-area: navBar;
      margin: 0;
      position: static;
      > ul.mainNav {
        height: 52px;
        position: relative;
        width: 100%;
        background-color: $themeBlue;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        border-radius: 5px;
        padding: 0 15px;
        .item {
          text-align: center;
          > a {
            color: $headerWhiteText;
            font-size: 13px;
            margin: 0;
            padding: 17px 0;
            line-height: 17px;
          }
          &:hover {
            ul.CourseNav {
              display: block;
            }
            ul.CommonNav {
              display: grid;
            }
          }
          & .expandable::after {
            content: "\f107";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: relative;
            left: -4px;
            top: 2px;
          }
        }

        ul.CourseNav,
        ul.CourseNav ul {
          width: 330px;
          display: flex;
          flex-direction: column;
          position: absolute;
          right: 0;
          z-index: 2;
          background-color: #808080f2;
          color: white;
          text-align: right;
          display: none;
          li {
            position: relative;
            &:hover {
              background-color: #727272;
              & > ul {
                display: block;
              }
            }
            a {
              font-size: 13px;
              font-family: "iranSanslight";
              padding: 3px 15px;
            }
            &::after {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "";
              position: absolute;
              left: 10px;
              top: 2px;
              font-size: 11px;
            }
            ul.InnerNav {
              right: 100%;
              top: 0;
              width: 450px;
              > li::after {
                content: none;
              }
            }
          }
        }

        ul.CommonNav {
          max-width: 800px;
          display: none;
          width: 100%;
          position: absolute;
          right: 0px;
          left: 0px;
          margin: auto;
          z-index: 2;
          grid-template-columns: 33% 33% 33%;
          background-color: #808080f2;
          color: white;
          text-align: right;
          li {
            &:hover {
              background-color: #727272;
            }
            a {
              font-size: 13px;
              font-family: "iranSanslight";
              padding: 3px 15px;
              position: relative;
              &::after {
                content: attr(data-count);
                position: absolute;
                left: 10px;
              }
            }
          }
        }
      }
    }
    .space {
      grid-area: space;
    }
    .slider {
      z-index: 1;
      grid-area: content;
      box-shadow: $slider-shadow;
      .pic {
        width: 100%;
        height: 100%;
        min-height: 200px;
        background-color: orange;
        color: white;
        font-weight: bold;
        font-size: 25px;
        @include flex(c, c);
      }
    }
    .spaceRightSide {
      grid-area: spaceRightSide;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      > span {
        font-size: 12px;
        color: $themeBlueLight;
        width: 150px;
        text-align: center;
        padding-bottom: 20px;
        line-height: 23px;
        font-family: "iranSansmedium";
        width: 58%;
      }
    }
  }
}

.atnaHost {
  padding: 45px 0;
  margin: 40px 0;
  @include flex(c, c);
  font-size: 29px;
  background-color: $greyMain-background;
  color: $atnaHost-blue;
  font-weight: bold;
  font-size: 35px;
  > span {
    color: $atnaHost-orange;
    padding-right: 10px;
    font-family: iranSansmedium;
  }
  &::before,
  &::after {
    content: "";
    background: url("./images/img/atna-Host.png") no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0 10px;
    width: 88px;
    height: 72px;
  }
}

#resItemBar {
  display: none;
}

.outlet {
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  gap: 120px;

  .mainPageSection {
    .title {
      margin-bottom: 50px;
      .pic {
        background: url("./images/img/Asset\ 3-8.png") no-repeat;
        background-size: 100%;
        @include scalePics(288px, 205px, 2);
        position: relative;
        .text {
          width: 200px;
          font-weight: bold;
          position: absolute;
          right: 90px;
          bottom: 20px;
          font-size: 19px;
          color: $themeBlue;
        }
      }
    }
    .flex {
      @include flex(sa, c);
      gap: 16px;
      .boxWrapper {
        padding: 2px;
        border-radius: 20px;
        background: linear-gradient(to left, $fourStepsBoxGradient);
        box-shadow: $fourStepsBoxShadow;
        .box {
          padding: 60px 15px;
          background: linear-gradient(to right, $fourStepsBoxGradient);
          border-radius: 20px;
          position: relative;
          @include square(220px);
          @include flex(c, c);
          .coloredWrapper {
            $coloredWidth: 160px;
            $coloredWrapperSize: 5px;
            background-color: rgb(255, 255, 255);
            position: absolute;
            top: -12px;
            left: 0;
            right: 0;
            margin: 0 auto;
            $polygon-offset: 15%;
            width: $coloredWidth + $coloredWrapperSize * 3;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $coloredWrapperSize 0;
            clip-path: polygon(
              0 0,
              100% 0,
              100-$polygon-offset 100%,
              $polygon-offset 100%
            );
            .colored {
              color: white;

              text-align: center;
              width: $coloredWidth;
              padding: 10px 0;
              clip-path: polygon(
                0 0,
                100% 0,
                100-$polygon-offset 100%,
                $polygon-offset 100%
              );
              .step {
                font-size: 18px;
                font-weight: bold;
                &::before {
                  margin-left: 9px;
                  font-size: 24px;
                  position: relative;
                  top: 2px;
                }
              }
            }
          }
          .text {
            position: absolute;
            bottom: 25px;
            text-align: center;
            left: 0;
            right: 0;
            font-weight: bold;
            font-size: 20px;
          }
          .hover {
            font-family: iranSansBold;
            line-height: 19px;
            text-align: center;
            opacity: 0;
            transition: .4s;
            position: absolute;
            width: 90%;
          }
          .image {
            @include square(60px);
            background: url("./images/img/FourSteps.png") no-repeat;
            background-size: 416%;
            opacity: 100%;
            transition: .2s;
          }
          &:hover {
            .hover {
              opacity: 100%;
            }
            .image {
              opacity: 0%;
            }
          }
          $colors: #ffd413, #ff9b0f, #fe3061, #02aeba;
          @for $index from 1 through length($colors) {
            $item: nth($colors, $index);
            &.box#{$index} {
              & .colored {
                background-color: $item;
                & .step::before {
                  content: "#{$index}";
                }
              }
              .text {
                color: $item;
              }
            }
          }
          $box-pos: -1px 0px, -137px 0px, -81.8px 0px, -193px 0px;
          @for $index from 1 through length($box-pos) {
            $item: nth($box-pos, $index);
            &.box#{$index} .image {
              background-position: $item;
            }
          }
          &.box2 .image {
            width: 54px;
            background-size: 456%;
          }
          &.box1 .image {
            width: 85px;
            background-size: 311%;
          }
        }
      }
    }
    .courseSwiper {
      width: 956px;
      margin: auto;
    }
  }
}

.footer {
  * {
    box-sizing: content-box !important;
  }
  border-top: 5px solid transparent;
  border-image: linear-gradient(
    to right,
    transparent,
    $footerWhiteLine,
    transparent
  );
  border-image-slice: 1;
  display: grid;
  height: 600px;
  grid-template-columns: 26% 49% 25%;
  grid-template-rows: 39% 24% 37%;
  background-color: $footerBackground;
  padding: 20px 10px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 50px;
  width: 100%;

  > * {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  > :nth-child(1),
  > :nth-child(2),
  > :nth-child(3) {
    justify-content: flex-end;
  }

  > :nth-child(4),
  > :nth-child(5),
  > :nth-child(6) {
    justify-content: flex-start;
  }

  > :nth-child(7),
  > :nth-child(8),
  > :nth-child(9) {
    justify-content: flex-start;
  }

  > :nth-child(4),
  > :nth-child(6) {
    padding-top: 18px;
  }

  .rightTop {
    .layer {
      align-self: flex-end;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 70px;

      .text {
        color: $footerWhiteText;
        font-size: 22pt / $fontScale;
        text-shadow: $SHADOW;
        margin-left: 4px;
      }

      .img {
        min-width: 120px;
        height: 82px;
        background: url("./images/img/Header-Footer.png");
        background-position: 0px -63px;
        background-size: 403%;
      }
    }

    .inputwrapper {
      position: relative;
      margin-bottom: 12px;

      .emailInput {
        border-radius: 21px;
        padding: 9px 16px;
        border: none;
        width: 250px;
        background-color: $footerEmailInputBackground;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.419);
        font-family: iranSansnormal;
        font-size: 20pt / $fontScale;
        color: $footerEmailInputColor;

        &:focus {
          outline: none;
        }
      }

      .icon {
        font-size: 18px;
        position: absolute;
        left: 5px;
        top: 4px;
        color: #e9e9e9;
        background-color: $footerBackground;
        padding: 5px;
        border-radius: 50%;
      }
    }
  }

  .centerTop {
    .img {
      width: 90px;
      height: 90px;
      margin-bottom: 5px;
      background: url("./images/img/Header-Footer.png");
      background-position: 90px 0;
      background-size: 505%;
    }

    .layer1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;

      > p {
        margin: 2px 0;
        color: $footerWhiteText;
        line-height: 24px;
      }

      p.title {
        font-size: 25pt / $fontScale;
        letter-spacing: letterSpace(100) * 1px;
        font-family: iranSanslight;
      }

      p.address {
        font-size: 20pt / $fontScale;
      }

      p.site {
        font-size: 25pt / $fontScale;
        letter-spacing: letterSpace(100) * 1px;
        font-family: iranSanslight;
      }

      p.num {
        font-size: 20pt / $fontScale;
        letter-spacing: letterSpace(50) * 1px;
        font-family: iranSanslight;
      }
    }
  }

  .leftTop {
    gap: 40px;

    .counsel {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .number {
        font-size: 25pt / $fontScale;
        color: $footerWhiteText;
        position: absolute;
        top: 0;
        right: 8px;
        text-shadow: $SHADOW;
        letter-spacing: letterSpace(50) * 1px;
      }

      .img {
        position: relative;
        right: 41px;
        top: 4px;
        width: 89px;
        height: 94px;
        background: url("./images/img/Header-Footer.png");
        background-position: -102px -58px;
        background-size: 499%;
        margin-bottom: 6px;
      }

      .info {
        color: $footerWhiteText;
        font-size: 20pt / $fontScale;
        text-shadow: $SHADOW;
        letter-spacing: letterSpace(25) * 1px;
      }
    }
  }

  .centerCenter {
    .hr {
      width: 75%;
      margin: 0;
      background: linear-gradient(
        to left,
        transparent,
        $footerOrangeLine,
        transparent
      );
      height: 5px;
    }

    .layer2 {
      display: flex;
      flex-direction: row;
      gap: 30px;
      margin-top: 32px;

      .item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        > .img {
          width: 33px;
          height: 33px;
          background: url("./images/img/Header-Footer.png");
          background-size: 1380%;

          &.one {
            background-position: -103px 34px;
          }

          &.two {
            background-position: -67px 35px;
          }

          &.three {
            background-position: -37px 34px;
            width: 28px;
            background-size: 1624%;
          }

          &.four {
            background-position: -1px 34px;
            background-size: 1325%;
          }
        }

        > a {
          color: $footerWhiteText;
          font-size: 18pt / $fontScale;
        }
      }
    }
  }

  .rightBottom {
    .eNamad {
      width: 130px;
      background-color: white;
      display: block;
      box-shadow: $EnamadShadow;
      border-radius: 30px;
      border: 15px solid $Enamad-border;
    }
  }

  .centerBottom {
    justify-content: space-between;

    .wholeNav {
      width: 126%;
      nav {
        position: static;
        margin: initial;
      }
      .nav1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;

        > .item {
          color: $footerWhiteText;
          font-size: 18pt / $fontScale;
        }
      }

      .line {
        width: 75%;
        display: block;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 15px;
        background: linear-gradient(
          to right,
          transparent,
          $footerWhiteLine,
          transparent
        );
        height: 1px;
      }

      .nav2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 35px;

        .item {
          color: $coolOrange;
          font-size: 24pt / $fontScale;
        }
      }
    }

    .layer3 {
      > img {
        width: 35px;
      }

      .footerImage {
        width: 35px;
        height: 35px;
        background: url("./images/img/Header-Footer.png");
        background-size: 1182%;
        background-position-y: 72px;

        &.one {
          background-position-x: -1px;
        }

        &.two {
          background-position-x: -38px;
        }

        &.three {
          background-position-x: -76px;
        }

        &.four {
          background-position: -113px 74px;
        }

        &.five {
          background-position: -150px 74px;
        }

        &.six {
          background-position: -186px 74px;
        }

        &.seven {
          background-position: -224px 74px;
        }
      }

      display: flex;
      flex-direction: row-reverse;
      gap: 20px;
      margin-bottom: 40px;
    }
  }

  .leftBottom {
    .img {
      background: url(./images/img/Header-Footer.png);
      height: 58px;
      width: 133px;
      position: relative;
      bottom: 9px;
      right: 9px;
      background-position: -79px -5px;
      background-size: 367%;
    }

    .telegraph {
      color: $footerWhiteText;
      border: 2px solid $footerWhiteText;
      padding: 4px 18px;
      border-radius: 16px;
      box-shadow: $SHADOW;
      font-size: 25pt / $fontScale;
      margin-right: 25px;
    }
  }
}
